body {
	background: linear-gradient(to bottom, rgb(204, 229, 255), rgba(204, 229, 255, 0.4));

}

#title {
	color: rgb(186, 133, 9);
}

.subtitle {
	color: rgb(200, 148, 30);
}

#service-image {
	height: 400px; /* Ignore this! */
	width: 70vw;	/* Ignore this! */

	background: radial-gradient(circle, red 20%, blue 40%, green 55%)

}
