h2:hover {
	color: red;
}

.subtitle {
	color: blue;
}

#services {
	color: green;
}

li:only-child {
	color: purple;
}

td:only-child {
	color: purple;
}

#google-link:link {
	color: blue;
}

#google-link:visited {
	color: red;
}